---
layout: default
---
<div class="row-fluid">
    <div class="hidden-print hidden-xs col-sm-3">
        <div class="post-content" style="border-right: 1px solid #eee; padding-right: 1em">
            <h2>Primer</h2>
            <span>By <a href="https://www.davekilian.com/">Dave Kilian</a></span>
            <hr>
            {% include primer-toc.html html=content %}
        </div>
    </div>
    <div class="col-sm-9">
        <div class="post-container" id="chapter">
            <div style="margin-bottom: 3em; margin-top: 4em">
                <div class="hidden-print visible-xs post-content">
                    <span style="color: #999">
                        Primer: How Computers Work | By <a href="https://www.davekilian.com/">Dave Kilian</a><br>
                        <br>
                        <a href="javascript:void(0)" onclick="toggleToc();">Table of Contents</a>
                        <span id="toc-indicator" style="margin-left: .3em; font-size: 60%; line-height: 60%;%">▼</span>
                    </span>
                </div>
                <h1 class="post-title" id="title">{{ page.title }}</h1>
            </div>
            <div class="post-content" id="content">
                {{ content }}
                <hr/>
                <span style="color: #999; padding-bottom: 2em">Copyright &copy; Dave Kilian 2019</span>
            </div>
            <div class="post-content" id="mobile-toc" style="display:none">
                {% include primer-toc.html html=content %}
            </div>
            <script type="text/javascript">
                function toggleToc() {

                    var indicator = document.getElementById('toc-indicator');
                    var title = document.getElementById('title');
                    var content = document.getElementById('content');
                    var toc = document.getElementById('mobile-toc');

                    if (toc.style.display === 'none') {

                        indicator.innerHTML = '▲';
                        title.style.display = 'none';
                        content.style.display = 'none';
                        toc.style.display = 'block';

                    } else {

                        indicator.innerHTML = '▼';
                        toc.style.display = 'none';
                        title.style.display = 'block';
                        content.style.display = 'block';
                    }
                }

                (function() {
                    function forEach(coll, cb) { Array.prototype.forEach.call(coll, cb) }
                    function expand(url) {
                        var temp = document.createElement('a');
                        temp.href = url;
                        return temp.href;
                    }

                    var prev, next;
                    forEach(document.getElementsByClassName('toc'), function(toc) {
                        var links = [ ];
                        prev = undefined;
                        next = undefined;

                        forEach(toc.getElementsByTagName('a'), function(link) {
                            links.push(link);
                        });

                        for (var i = 0; i < links.length; ++i) {
                            var link = links[i];

                            var match = false;
                            if (window.location.pathname == '{{ '/' | relative_url }}') {
                                match = (link.href == expand('{{ '/index.html' | relative_url }}'));
                            } else {
                                match = (link.href == window.location.href);
                            }

                            if (match) {

                                link.removeAttribute('href');
                                link.style.color = 'black';

                                if (i > 0) {
                                    prev = links[i - 1].href;
                                }
                                if (i + 1 < links.length) {
                                    next = links[i + 1].href;
                                }
                            }
                        }
                    });

                    document.addEventListener('keydown', function(e) {
                        if (e.keyCode == 37 && !!prev) {
                            window.location.href = prev;
                        } else if (e.keyCode == 39 && !!next) {
                            window.location.href = next;
                        }
                    });
                })();
            </script>
        </div>
    </div>
</div>
